<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{itemName}}</h1>
        {{#each damages as |damage|}}
            <h3 class="separator damage-location" data-location={{location}}>{{localize location}}</h3>
            <div>
                <p><strong>{{localize "CHAT.DAMAGE"}}:</strong> <span class="damage-total">{{damage.total}}</span> 
                <strong class="damage-type">{{damageTypeShort ../weapon.damageType}}</strong>
	            </p>
	        </div>
	        <p><strong>{{localize "CHAT.PENETRATION"}}:</strong> <span class="damage-penetration">{{penetration}}</span></p>
	        {{#if damage.righteousFury}}
	        <p><strong>{{localize "CHAT.RIGHTEOUS_FURY"}}:</strong> <span class="damage-righteous-fury">{{damage.righteousFury}}</span></p>
	        {{/if}}
	    {{/each}}
	    <div class="dice-rolls" style="display:none">
	        <h1>{{localize "CHAT.ROLL_TITLE"}}</h1>
		    {{#each damages as |damage|}}
		        <p><strong>{{localize "CHAT.DAMAGE_HEADER"}}</strong></p>
		        <div class="dice-roll-render">
		            {{{damage.damageRender}}}
		        </div>
		        {{#if damage.accurateRender}}
		            <p><strong>{{localize "CHAT.ACCURATE_HEADER"}}</strong></p>
		            <div class="dice-roll-render">
		                {{{damage.accurateRender}}}
		            </div>
		        {{/if}}
		    {{/each}}
	   </div>
    </div> 
</div>