<div class="dark-heresy dialog">
    <div class="flex row wrap background border" style="flex-basis: 100%;margin-bottom: 5px">
        <h1>{{localize name}}</h1>
        {{#if characteristics}}
            <div class="wrapper">
                <label>{{localize "DIALOG.ROLL_WITH"}}</label>
                <select name="characteristic">
                    {{#each characteristics}}
                        <option value="{{target}}"{{#if selected}} selected{{/if}}>{{localize label}}</option>
                    {{/each}}
                </select>
            </div>
        {{/if}}
        <div class="wrapper">
            <label>{{localize "DIALOG.TARGET"}}</label>
            <input id="target" type="number" value="{{baseTarget}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.MODIFIER"}}</label>
            <input id="modifier" type="text" value="{{modifier}}" />
        </div>
        <div class="wrapper">
            <label>{{localize "ACQUIRE.RARITY"}}</label>
            <select id="rarity">
                {{#select rarity}}
                    <option value="40">{{localize "AVAILABILITY.UBIQUITOUS"}}</option>
                    <option value="30">{{localize "AVAILABILITY.ABUNDANT"}}</option>
                    <option value="20">{{localize "AVAILABILITY.PLENTIFUL"}}</option>
                    <option value="10">{{localize "AVAILABILITY.COMMON"}}</option>
                    <option value="0">{{localize "AVAILABILITY.AVERAGE"}}</option>
                    <option value="-10">{{localize "AVAILABILITY.SCARCE"}}</option>
                    <option value="-20">{{localize "AVAILABILITY.RARE"}}</option>
                    <option value="-30">{{localize "AVAILABILITY.VERY_RARE"}}</option>
                    <option value="-40">{{localize "AVAILABILITY.EXTREMELY_RARE"}}</option>
                    <option value="-50">{{localize "AVAILABILITY.NEAR_UNIQUE"}}</option>
                    <option value="-60">{{localize "AVAILABILITY.UNIQUE"}}</option>
                {{/select}}
            </select>
        </div>
    <div class="wrapper">
            <label>{{localize "ACQUIRE.QUALITY"}}</label>
            <select id="quality">
                {{#select quality}}
                <option value="10">{{localize "CRAFTSMANSHIP.POOR"}}</option>
                <option value="0" selected>{{localize "CRAFTSMANSHIP.COMMON"}}</option>
                <option value="-10">{{localize "CRAFTSMANSHIP.GOOD"}}</option>
                <option value="-20">{{localize "CRAFTSMANSHIP.BEST"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "ACQUIRE.SCALE"}}</label>
            <select id="scale">
                {{#select scale}}
                <option value="30">{{localize "SCALE.NEG"}}</option>
                <option value="20" selected>{{localize "SCALE.TRIVIAL"}}</option>
                <option value="10" selected>{{localize "SCALE.MINOR"}}</option>
                <option value="0" selected>{{localize "SCALE.STANDARD"}}</option>
                <option value="-10">{{localize "SCALE.MAJOR"}}</option>
                <option value="-20">{{localize "SCALE.SIG"}}</option>
                <option value="-30">{{localize "SCALE.VAST"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>
