<div class="dark-heresy dialog">
    <div class="flex row wrap background border" style="flex-basis: 100%;margin-bottom: 5px">        
        <h1>{{localize name}}</h1>
        {{#unless weapon.traits.skipAttackRoll}}
            <div class="wrapper">
                <label>{{localize "DIALOG.TARGET"}}</label>
                <input id="target" type="number" value="{{target.base}}" data-dtype="Number"/>
            </div>
            <div class="wrapper">
                <label>{{localize "DIALOG.MODIFIER"}}</label>
                <input id="modifier" type="text" value="{{target.modifier}}"/>
            </div>
            <div class="wrapper">
                <label>{{localize "DIALOG.AIM"}}</label>
                <select id="aim">
                    {{selectOptions (config "aimModes") selected=aim localize=true}}
                </select>
            </div>
            {{#if weapon.isMelee}}
            <div class="wrapper">
                <label>{{localize "DIALOG.ATTACK_TYPE"}}</label>
                <select id="attackType">
                    {{selectOptions (config "attackTypeMelee") selected=attackType localize=true}}
                </select>
            </div>
            {{/if}}
            {{#if weapon.isRange}}
            <div class="wrapper">
                <label>{{localize "DIALOG.RANGE"}}</label>
                <select id="range">
                    {{selectOptions (config "ranges") selected=rangeMod localize=true}}
                </select>
            </div>
            <div class="wrapper">
                <label>{{localize "DIALOG.ATTACK_TYPE"}}</label>
                <select id="attackType">
                    {{selectOptions (config "attackTypeRanged") selected=attackType.name localize=true}}
                </select>
            </div>
            {{/if}}
            <div class="separator"></div>
        {{/unless}}
        <div class="wrapper">
            <label>{{localize "DIALOG.DAMAGE"}}</label>
            <input id="damageFormula" type="text" value="{{weapon.damageFormula}}"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.TYPE"}}</label>
            <select id="damageType">
                {{selectOptions (config "damageTypes") selected=weapon.damageType localize=true}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.BONUS"}}</label>
            <input id="damageBonus" type="number" value="{{weapon.damageBonus}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.PENETRATION"}}</label>
            <input id="penetration" type="text" value="{{weapon.penetrationFormula}}" />
        </div>
    </div>
    <div>
        {{#if weapon.isRange}}
            <div class="wrapper">
                <table>
                <tr>
                <td style="padding:0 10px 0 10px;"><b>{{localize "DIALOG.CLIP"}}: </b>{{weapon.clip.value}}</td>
                <td style="padding:0 10px 0 10px;"><b>RoF: </b>1/{{#if weapon.rateOfFire.burst}}{{weapon.rateOfFire.burst}}{{else}}-{{/if}}/{{#if weapon.rateOfFire.full}}{{weapon.rateOfFire.full}}{{else}}-{{/if}}</td>
                </tr>
                </table>
            </div>
        {{/if}}
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>