<div class="dark-heresy dialog">
    <div class="flex row wrap background border" style="flex-basis: 100%;margin-bottom: 5px">
        <h1>{{localize name}}</h1>
        <div class="wrapper">
            <label>{{localize "DIALOG.TARGET"}}</label>
            <input id="target" type="number" value="{{target.base}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.MODIFIER"}}</label>
            <input id="modifier" type="text" value="{{target.modifier}}"/>
        </div>
        <div class="separator"></div>
        <div class="wrapper">
            <label>{{localize "DIALOG.PSY_RATING"}}</label>
            <input id="rating" class="range" type="range" min="1" max="{{psy.max}}" value="{{psy.value}}" data-dtype="Number" />
            <input id="psy" class="rangeBox" type="number" value="{{psy.value}}" data-dtype="Number" />
        </div>
        <!--Done here because nothing else seemed to work. Open for better ideas-->
        <script>
            var slider = document.getElementById("rating");
            var output = document.getElementById("psy");            
            slider.oninput = function() {
              output.value = this.value;
            }
        </script>
        <div class="wrapper damage">
            <label>{{localize "DIALOG.DAMAGE"}}</label>
            <input id="damageFormula" type="text" value="{{weapon.damageFormula}}"/>
        </div>
        <div class="wrapper damage">
            <label>{{localize "DIALOG.TYPE"}}</label>
            <select id="damageType">
                {{selectOptions (config "damageTypes") selected=weapon.damageType localize=true}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.ATTACK_TYPE"}}</label>
            <select id="attackType">
                {{selectOptions (config "attackTypePsy") selected=attackType.name localize=true}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.BONUS"}}</label>
            <input id="damageBonus" type="number" value="{{weapon.damageBonus}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.PENETRATION"}}</label>
            <input id="penetration" type="text" value="{{weapon.penetrationFormula}}"/>
        </div>
        <div class=wrapper>
            <label>{{localize "DIALOG.WARPCONDUIT"}}</label>
            <input id="warpConduit" type="checkbox" value="{{psy.warpConduit}}" />
        </div>
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>